@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Retain valuable dark mode defaults */
  color-scheme: dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617;
  /* slate-950 */
  color: #f8fafc;
}

#root {
  width: 100%;
  height: 100vh;
}